/* border-image: source slice width outset repeat; */
/* --------------------------------------------------------------
   Form Module
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */
/*
  Attribute selectors are used to differentiate the different types
  of input elements, but to support old browsers, you will have to
  add classes for each one. ".title" simply creates a large text
  field, this is purely for looks.
 */
/*
  This is to be used on forms where a variety of elements are
  placed side-by-side. Use the p tag to denote a line.
 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
.button_blue {
  cursor: pointer;
  display: inline-block;
  background-color: #0000b3;
  background-repeat: repeat-x;
  /* FF 3.6+ */

  background-image: -moz-linear-gradient(#4d4dff, #0000b3);
  /* IE10 */

  background-image: -ms-linear-gradient(#4d4dff, #0000b3);
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4dff), color-stop(100%, #0000b3));
  /* Safari 5.1+, Chrome 10+ */

  background-image: -webkit-linear-gradient(#4d4dff, #0000b3);
  /* Opera 11.10 */

  background-image: -o-linear-gradient(#4d4dff, #0000b3);
  /* IE6 & IE7 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4dff', endColorstr='#0000b3', GradientType=0);
  /* IE8+ */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4dff', endColorstr='#0000b3', GradientType=0)";
  /* W3C */

  background-image: linear-gradient(#4d4dff, #0000b3);
  padding: 9px 15px 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  /* Safari and Chrome */

  -webkit-border-radius: 6px;
  /* Opera */

  -o-border-radius: 6px;
  /* IE */

  -ms-border-radius: 6px;
  /* Firefox */

  -moz-border-radius: 6px;
  /* W3C */

  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.button_blue:hover {
  background-position: 0 -15px;
  text-decoration: none;
}
.button_black {
  cursor: pointer;
  display: inline-block;
  background-color: #000000;
  background-repeat: repeat-x;
  /* FF 3.6+ */

  background-image: -moz-linear-gradient(#262626, #000000);
  /* IE10 */

  background-image: -ms-linear-gradient(#262626, #000000);
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #000000));
  /* Safari 5.1+, Chrome 10+ */

  background-image: -webkit-linear-gradient(#262626, #000000);
  /* Opera 11.10 */

  background-image: -o-linear-gradient(#262626, #000000);
  /* IE6 & IE7 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#000000', GradientType=0);
  /* IE8+ */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#000000', GradientType=0)";
  /* W3C */

  background-image: linear-gradient(#262626, #000000);
  padding: 9px 15px 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  /* Safari and Chrome */

  -webkit-border-radius: 6px;
  /* Opera */

  -o-border-radius: 6px;
  /* IE */

  -ms-border-radius: 6px;
  /* Firefox */

  -moz-border-radius: 6px;
  /* W3C */

  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.button_black:hover {
  background-position: 0 -15px;
  text-decoration: none;
}
.button_red {
  cursor: pointer;
  display: inline-block;
  background-color: #b30000;
  background-repeat: repeat-x;
  /* FF 3.6+ */

  background-image: -moz-linear-gradient(#ff4d4d, #b30000);
  /* IE10 */

  background-image: -ms-linear-gradient(#ff4d4d, #b30000);
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4d4d), color-stop(100%, #b30000));
  /* Safari 5.1+, Chrome 10+ */

  background-image: -webkit-linear-gradient(#ff4d4d, #b30000);
  /* Opera 11.10 */

  background-image: -o-linear-gradient(#ff4d4d, #b30000);
  /* IE6 & IE7 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d4d', endColorstr='#b30000', GradientType=0);
  /* IE8+ */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d4d', endColorstr='#b30000', GradientType=0)";
  /* W3C */

  background-image: linear-gradient(#ff4d4d, #b30000);
  padding: 9px 15px 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  /* Safari and Chrome */

  -webkit-border-radius: 6px;
  /* Opera */

  -o-border-radius: 6px;
  /* IE */

  -ms-border-radius: 6px;
  /* Firefox */

  -moz-border-radius: 6px;
  /* W3C */

  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.button_red:hover {
  background-position: 0 -15px;
  text-decoration: none;
}
.button_green {
  cursor: pointer;
  display: inline-block;
  background-color: #003400;
  background-repeat: repeat-x;
  /* FF 3.6+ */

  background-image: -moz-linear-gradient(#00cd00, #003400);
  /* IE10 */

  background-image: -ms-linear-gradient(#00cd00, #003400);
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00cd00), color-stop(100%, #003400));
  /* Safari 5.1+, Chrome 10+ */

  background-image: -webkit-linear-gradient(#00cd00, #003400);
  /* Opera 11.10 */

  background-image: -o-linear-gradient(#00cd00, #003400);
  /* IE6 & IE7 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00cd00', endColorstr='#003400', GradientType=0);
  /* IE8+ */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00cd00', endColorstr='#003400', GradientType=0)";
  /* W3C */

  background-image: linear-gradient(#00cd00, #003400);
  padding: 9px 15px 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  /* Safari and Chrome */

  -webkit-border-radius: 6px;
  /* Opera */

  -o-border-radius: 6px;
  /* IE */

  -ms-border-radius: 6px;
  /* Firefox */

  -moz-border-radius: 6px;
  /* W3C */

  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.button_green:hover {
  background-position: 0 -15px;
  text-decoration: none;
}
.button_yellow {
  cursor: pointer;
  display: inline-block;
  background-color: #b2b300;
  background-repeat: repeat-x;
  /* FF 3.6+ */

  background-image: -moz-linear-gradient(#ffff4d, #b2b300);
  /* IE10 */

  background-image: -ms-linear-gradient(#ffff4d, #b2b300);
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff4d), color-stop(100%, #b2b300));
  /* Safari 5.1+, Chrome 10+ */

  background-image: -webkit-linear-gradient(#ffff4d, #b2b300);
  /* Opera 11.10 */

  background-image: -o-linear-gradient(#ffff4d, #b2b300);
  /* IE6 & IE7 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff4d', endColorstr='#b2b300', GradientType=0);
  /* IE8+ */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff4d', endColorstr='#b2b300', GradientType=0)";
  /* W3C */

  background-image: linear-gradient(#ffff4d, #b2b300);
  padding: 9px 15px 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  color: #000000;
  font-size: 13px;
  line-height: 20px;
  /* Safari and Chrome */

  -webkit-border-radius: 6px;
  /* Opera */

  -o-border-radius: 6px;
  /* IE */

  -ms-border-radius: 6px;
  /* Firefox */

  -moz-border-radius: 6px;
  /* W3C */

  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.button_yellow:hover {
  background-position: 0 -15px;
  text-decoration: none;
}
.button_white {
  cursor: pointer;
  display: inline-block;
  background-color: #d9d9d9;
  background-repeat: repeat-x;
  /* FF 3.6+ */

  background-image: -moz-linear-gradient(#ffffff, #d9d9d9);
  /* IE10 */

  background-image: -ms-linear-gradient(#ffffff, #d9d9d9);
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d9d9d9));
  /* Safari 5.1+, Chrome 10+ */

  background-image: -webkit-linear-gradient(#ffffff, #d9d9d9);
  /* Opera 11.10 */

  background-image: -o-linear-gradient(#ffffff, #d9d9d9);
  /* IE6 & IE7 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0);
  /* IE8+ */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0)";
  /* W3C */

  background-image: linear-gradient(#ffffff, #d9d9d9);
  padding: 9px 15px 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  color: #000000;
  font-size: 13px;
  line-height: 20px;
  /* Safari and Chrome */

  -webkit-border-radius: 6px;
  /* Opera */

  -o-border-radius: 6px;
  /* IE */

  -ms-border-radius: 6px;
  /* Firefox */

  -moz-border-radius: 6px;
  /* W3C */

  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.button_white:hover {
  background-position: 0 -15px;
  text-decoration: none;
}
.button_lightblue {
  cursor: pointer;
  display: inline-block;
  background-color: #00438a;
  background-repeat: repeat-x;
  /* FF 3.6+ */

  background-image: -moz-linear-gradient(#238fff, #00438a);
  /* IE10 */

  background-image: -ms-linear-gradient(#238fff, #00438a);
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #238fff), color-stop(100%, #00438a));
  /* Safari 5.1+, Chrome 10+ */

  background-image: -webkit-linear-gradient(#238fff, #00438a);
  /* Opera 11.10 */

  background-image: -o-linear-gradient(#238fff, #00438a);
  /* IE6 & IE7 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#238fff', endColorstr='#00438a', GradientType=0);
  /* IE8+ */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#238fff', endColorstr='#00438a', GradientType=0)";
  /* W3C */

  background-image: linear-gradient(#238fff, #00438a);
  padding: 9px 15px 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  /* Safari and Chrome */

  -webkit-border-radius: 6px;
  /* Opera */

  -o-border-radius: 6px;
  /* IE */

  -ms-border-radius: 6px;
  /* Firefox */

  -moz-border-radius: 6px;
  /* W3C */

  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.button_lightblue:hover {
  background-position: 0 -15px;
  text-decoration: none;
}
