// Min Module

// Cross browser min-height mixin.
.min-height(@value) {
   min-height: @value;
   height: auto !important;
   height: @value;
}

// Cross browser min-width mixin.
.min-width(@value) {
   min-width: @value;
   width: auto !important;
   width: @value;
}
